.button {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  background-color: #ff7b07; 
  height: 40px;  
  box-shadow: 0px 4px 0px #a24d03;
  border-radius: 10px;
  border: 0 solid #ff7b07;
}

.text {
  color: #efefef;
  font-weight: 700;
  font-size: 16px;
}
